In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
g_key

'AIzaSyDX303zwHAbUh-RGUXuhqmPTvGB_EMB0JA'

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-09-29 16:44:09,42.6001,-73.9662,62.92,55,22,9.86
1,1,Arraial Do Cabo,BR,2021-09-29 16:48:03,-22.9661,-42.0278,80.46,65,40,13.80
2,2,Punta Arenas,CL,2021-09-29 16:43:41,-53.1500,-70.9167,50.11,37,0,18.41
3,3,Hacari,CO,2021-09-29 16:48:04,8.3233,-73.1489,79.61,56,98,2.89
4,4,Kurumkan,RU,2021-09-29 16:48:04,54.3000,110.3000,31.37,81,16,2.51

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Arraial Do Cabo,BR,2021-09-29 16:48:03,-22.9661,-42.0278,80.46,65,40,13.80
3,3,Hacari,CO,2021-09-29 16:48:04,8.3233,-73.1489,79.61,56,98,2.89
13,13,Dingle,PH,2021-09-29 16:48:09,10.9995,122.6711,76.68,92,82,3.33
16,16,Los Llanos De Aridane,ES,2021-09-29 16:44:54,28.6585,-17.9182,75.13,65,75,20.71
20,20,Ribeira Grande,PT,2021-09-29 16:48:11,38.5167,-28.7000,75.60,88,40,8.05
22,22,Basco,PH,2021-09-29 16:48:12,20.4487,121.9702,82.81,79,68,10.54
27,27,Atuona,PF,2021-09-29 16:48:14,-9.8000,-139.0333,77.68,75,63,21.23
33,33,Jian,CN,2021-09-29 16:48:17,27.1172,114.9793,75.00,93,18,4.52
35,35,Hithadhoo,MV,2021-09-29 16:48:18,-0.6000,73.0833,82.85,72,36,5.23
38,38,Maracana,BR,2021-09-29 16:48:19,-0.7667,-47.4500,83.21,76,74,4.09

In [13]:
preferred_cities_df.count()

City_ID       188
City          188
Country       186
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
1         Arraial Do Cabo      BR     80.46 -22.9661  -42.0278
3                  Hacari      CO     79.61   8.3233  -73.1489
13                 Dingle      PH     76.68  10.9995  122.6711
16  Los Llanos De Aridane      ES     75.13  28.6585  -17.9182
20         Ribeira Grande      PT     75.60  38.5167  -28.7000
22                  Basco      PH     82.81  20.4487  121.9702
27                 Atuona      PF     77.68  -9.8000 -139.0333
33                   Jian      CN     75.00  27.1172  114.9793
35              Hithadhoo      MV     82.85  -0.6000   73.0833
38               Maracana      BR     83.21  -0.7667  -47.4500

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Arraial Do Cabo,BR,80.46,-22.9661,-42.0278,Pousada Porto Praia
3,Hacari,CO,79.61,8.3233,-73.1489,
13,Dingle,PH,76.68,10.9995,122.6711,SEGAYA PROPERTY
16,Los Llanos De Aridane,ES,75.13,28.6585,-17.9182,Valle Aridane
20,Ribeira Grande,PT,75.60,38.5167,-28.7000,Quinta da Meia Eira
22,Basco,PH,82.81,20.4487,121.9702,Nathaniel's Lodge
27,Atuona,PF,77.68,-9.8000,-139.0333,Villa Enata
33,Jian,CN,75.00,27.1172,114.9793,Luling International Hotel
35,Hithadhoo,MV,82.85,-0.6000,73.0833,Scoop Guest House
38,Maracana,BR,83.21,-0.7667,-47.4500,EDVAN FOX

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [23]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))